{% extends 'base.html' %}

{% block content %}
<style>
  .custom-button {
    font-size: 5px;
    margin-top: -1rem;
  }
</style>

<div>
  <div class="d-flex justify-content-between">
    <h1 class="mb-4">상세 페이지</h1>
  </div>
  <p>글번호 : {{ board.id }}</p>  
  <p>작성자 : {{ board.author }}</p>
  <p>글제목 : {{ board.title }}</p>
  <p>글내용 : {{ board.content }}</p>
  <p>작성날짜 : {{ board.created_at }}</p>
  <p>수정날짜 : {{ board.updated_at }}</p>
  <hr>
  <div style='text-align:right;'><p>좋아요 수 : {{board.likes.all|length}}</p></div>
  <div class="mb-5 d-flex justify-content-between">
    <a href="{% url 'boards:index' %}"><button class="btn btn-light">메인 페이지로</button></a>
    {% if board.author == request.user %}
    <div class="d-flex">
      <a href="{% url 'boards:update' board.id %}"><button class="me-3 btn btn-success">수정하기</button></a>
      <form action="{% url 'boards:detail' board.id%}" method='POST'>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">삭제하기</button>
      </form>
    </div>
    {% else %}
    <div>
      <form action="{% url "boards:likes" board.pk %}" method='POST'>
        {% csrf_token %}
        {% if request.user in board.likes.all %}
        <input type="submit" value='❤'>
        {% else %}
        <input type="submit" value='🤍'>
        {% endif %}
      </form>
    </div>
    {% endif %}
  </div>
  {% if request.user.is_authenticated %}
  <form action="{% url 'boards:comment' board.id %}" method='POST'>
    {% csrf_token %}
    <button class="btn btn-secondary" style="float: right;" type="submit">작성하기</button>
    {{ comment_form.as_p }}
  </form>
  {% else %}
  <p>댓글을 작성하시려면 로그인을 해주세요.</p>
  {% endif %}

  <div class="mt-5">
    {% if comments|length == 0 %} 댓글이 없습니다.
    {% else %}
      {% for comment in comments %}
      <div class="my-3 d-flex justify-content-between">
        <div>
          <span>{{ comment.author }} : {{ comment.content }}</span>
          <span class="mx-5">({{ comment.created_at }})</span>
        </div>
          <div>
            {% if comment.author == request.user %}
            <form action="{% url 'boards:comment_detail' board.id comment.id %}" method='POST'>
              {% csrf_token %}
              <button class="btn btn-light">삭제하기</button>
            </form>
            {% endif %}
          </div>
        </div>
        {% for reply_comment in comment.replies.all %}
          <div class="d-flex">
            <p class="ms-3" style="font-size: 5px;">{{ forloop.counter }}번째 답글 - {{ reply_comment.author }} : {{ reply_comment.content }}</p>
            {% if reply_comment.author == request.user %}
              <form class="ms-5" action="{% url 'boards:comment_detail' board.id reply_comment.id %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-light custom-button">답글 삭제하기</button>
              </form>
            {% endif %}
          </div>
        {% endfor %}
        <form class="ms-3" style="font-size: 8px;" action="{% url 'boards:create_reply' comment.id %}" method='POST'>
          {% csrf_token %}
          <button class="btn btn-secondary" style="float: right; font-size: 8px;" type="submit">답글 작성하기</button>
          {{ comment_form.as_p }}
        </form>
        <hr/>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}