<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <ul>
      <div v-for="(todo, index) in todos" :key="todo.id">
        <li>
          <input type="checkbox" v-model="todo.isCompleted">
          <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        </li>
      </div>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const todos = ref([
          { text: '생필품 구입', isCompleted: false},
          { text: '빨래', isCompleted: true},
          { text: '방 청소', isCompleted: false},
        ])

        return {
          todos,
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
